@{
    ViewData["Title"] = "Project Page";
}
<div class="container">
    @* <div class="card">
        <img src="">
        <div class="card-footer">
            <button>
                <h1>Profile</h1>
            </button>
        </div>
    </div>

    <button>Left</button>
    <button>Right</button> *@

</div>