@{
    ViewData["Title"] = "Profile";
}
<div class="container">
    <a id="modalbtn" class="button">Create</a>
        <div id="ModalForm" class="modal">
            <div class="content">
                <form action="" method="post">
                    <h3>Form Profile</h3>
                    <fieldset>
                        <label for="">Id</label>
                        <input type="number" disabled>
                        <label for="">Nama</label>
                        <input type="text">
                        <label for="">Tanggal Lahir</label>
                        <input type="datetime">
                        <label for="">Domisili</label>
                        <input type="text">
                        <label for="">Foto</label>
                        <input type="file" name="" id="">
                        <button type="submit">Tambah</button>
                    </fieldset>
                </form>
            </div>
            <span class="close">Close</span>
         </div>
</div>