@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="menu">
        <a asp-controller="Profile" asp-action="Index"><h2>Profile</h2></a>
    </div>
    <div class="menu">
        <a asp-controller="Project" asp-action="Index"><h1>Project</h1></a>
    </div>
</div>
