@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="menu">
        <h1>icon</h1>
        <a href=""><h2>Profile</h2></a>
    </div>
    <div class="menu">
        <a href=""><h1>Project</h1></a>
    </div>
</div>