/* Theme : Tema (:root) */
:root{
    --primary: #2C3E50;
    --secondary: #ADFF2F;
    /* --secondary: #FFD166; */
    --accent: #FFD166;
}
/* Base : CSS Dasar : reset / normalisasi */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border-box lebar elemen tetap */
    text-decoration: none;
}
.navbar{
    margin: 1.2rem 0;
    padding: 0 0 0.7rem 0;
    text-decoration: none;
    justify-items: center;
    font-size: x-large;
    border-bottom: 5px solid var(--accent);
}
ul{
    display: flex;
    list-style-type: none;
}
li>a{
    margin: 0 1.2rem;
    color: var(--secondary);
    text-decoration: none;
}
body{
    background-color: var(--primary);
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    height: 100vh;
}
.container{
    margin: 1.2rem 1.7rem;
    border: 3px solid black;
    box-sizing: border-box;
    max-width: 100%;
    width: 95vw;
    height: 80vh;
    display: flex;
}
.menu{
    box-sizing: border-box;
    border: 3px solid #1f1f1f;
    margin: 0.7rem 0.4rem;
    padding: 0.6rem 0.6rem;
    width: 30%;
    height: 25%;
    background-color: var(--accent);
}
/* Button */
.button{
    font-size: x-large;
    text-decoration: none;
    color: #EEEEEE;
    margin: 0.3rem;
    padding: 0.3rem;
    background-color: var(--primary);
    max-width: min-content;
    max-height: min-content;
    border: 2px solid var(--accent);
    border-radius: 10%;
    cursor: pointer;    
}

/* Modal */
.modal{
    display: none;
    width: 70%;
    height: 100%;
    background-color: rgba(70, 69, 69, 0.5);
    position: fixed;
    left: 14%;
    top: 0;
    overflow: auto;
    align-self: center;
}
.content{
    /* display: block; */
    font: var(--accent);
    background-color: var(--primary);
    margin: 8% auto;
    padding: 1.5rem;
    width: 80%;
    animation: fadeIn 0.3 ease;
    border: 2px solid var(--accent);
}
form{
    /* justify-items: center; */
    /* border: 5px solid var(--secondary); */
    max-width: 100%;
    display: flexbox;
    font-size: larger;
}

label{
    margin: 1rem 0.5rem auto;
    font: bold;

}
input{
    width: 100%;
    padding: auto;
    padding: 0.5rem;
    border: 2px solid var(--secondary);
    margin: 0 1rem 0 0;
}


/* Animasi Masuk */
@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

/* .card{
    width: 25%;
    height: 75vh;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 8px solid var(--accent);
    border-radius: 5%;
}
.card-footer{
    justify-self: center;
} */
/* Layout : Pengaturan tata letak */
/* Component : Pengaturan Form,Tombol,Navbar dll */
/* Ultilities : Margin, Padding, Text alignment */